<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GIF 채팅방</title>
</head>
<body>
<div>F12를 눌러 console 탭과 network 탭을 확인하세요.</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io.connect('http://localhost:8005', {
    path: '/socket.io', //path와 일치해야 동신 가능
    transports:['websocket'], //폴링방식 없이 처음부터 웹 소켓만 사용하는 옵션
  });
  socket.on('news', function(data) { //뉴스 이벤트를 받는 부분
    console.log(data);
    socket.emit('reply', 'Hello Node Js');
  })
</script>
</body>
</html>
